<!DOCTYPE html>
<html>
<head>
<title>API Collection</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="https://cdn.gomix.com/c7e09b38-2de5-4076-a63d-3f85c162ab43%2Fdg_logo.png">
    </a>
    <h1>Welcome</h1>
    <p>This site began as an anonymous proxy for the FRED API. Over time, it seemed a logical place to add other APIs as projects have required them.</p>
    <p>Visit any of the landing pages for specific instructions on the APIs...or go straight to the endpoint if you are familiar wtih the usage.</p>
    <table class="table table-hover text-left">
      <thead class="thead-default">
        <tr>
          <th>#</th>
          <th>Landing Page</th>
          <th>API Endpoint</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td><a href="FRED.html">FRED</a></td>
          <td><a href="/api/FRED" target="_blank">/api/FRED/</a></td>
          <td>Proxy for the FRED API at St. Louis Fed</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td><a href="timestamp.html">Timestamp</a></td>
          <td><a href="/api/timestamp/" target="_blank">/api/timestamp/</a></td>
          <td><a href="http://www.freecodecamp.com" target="_blank">FreeCodeCamp</a> Timestamp API challenge</td>
         </tr>
        <tr>
          <th scope="row">3</th>
          <td><a href="short.html">URL Shortener</a></td>
          <td><a href="/api/url/" target="_blank">/api/url/</a></td>
          <td><a href="http://www.freecodecamp.com" target="_blank">FreeCodeCamp</a> URL Shortener challenge</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td><a href="meta.html">File Metadata</a></td>
          <td><a href="/api/metadata/" target="_blank">/api/metadata/</a></td>
          <td><a href="http://www.freecodecamp.com" target="_blank">FreeCodeCamp</a> File Metadata challenge</td>
         </tr>
        <tr>
          <th scope="row">5</th>
          <td><a href="exercise.html">Exercise Tracker</a></td>
          <td><a href="/api/exercise/" target="_blank">/api/exercise/</a></td>
          <td><a href="http://www.freecodecamp.com" target="_blank">FreeCodeCamp</a>Exercise Tracker challenge</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td><a href="whoami.html">Who Am I?</a></td>
          <td><a href="/api/whoami/" target="_blank">/api/whoami/</a></td>
          <td><a href="http://www.freecodecamp.com" target="_blank">FreeCodeCamp</a>HTTP Headers challenge</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td><a href="image.html">Image Search Abstraction</a></td>
          <td><a href="/api/image" target="_blank">/api/image</a></td>
          <td><a href="http://www.freecodecamp.com" target="_blank">FreeCodeCamp</a>Image Search Abstraction challenge</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>

