<!DOCTYPE html>
<html>
<head>
<title>Timestamp API</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="https://cdn.gomix.com/c7e09b38-2de5-4076-a63d-3f85c162ab43%2Fdg_logo.png">
    </a>
    <h1>Timestamp</h1>
    <p>This API was created to complete the <a href="http://www.freecodecamp.com" target="_blank">FreeCodeCamp</a> Timestamp Microservice Challenge.
      It will return a JSON object with the format: </p>
    <p><code>{"unix":1488466199630,"utc":"Thu, 02 Mar 2017 14:49:59 GMT"}</code></p>
    <p class="options"><h3 class="text-left">Options:</h3>
    <ul class="text-left">
      <li><b>Endpoint: </b><a href="/api/timestamp" target="_blank">/api/timestamp/[:time]</a></li>
      <li><b>[:time]: </b>A date string compliant with ISO-8601 or Unix timestamp</li>
      <li><b>No parameter: </b>Returns the current time</li>
    </ul>
    </p>
  </div>

</div>
</body>
</html>
