<!DOCTYPE html>
<html>
<head>
<title>HTTP Headers API</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="https://cdn.gomix.com/c7e09b38-2de5-4076-a63d-3f85c162ab43%2Fdg_logo.png">
    </a>
    <h1>HTTP Headers</h1>
    <p>This API was created to complete the <a href="http://www.freecodecamp.com" target="_blank">FreeCodeCamp</a> HTTP Headers Microservice Challenge.
      It will return a JSON object with the format: </p>
    <p><code>{"ipaddress":"1.0.0.1"
             ,"language":"en-US,en;q=0.8"
             ,"software":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36"
            }</code></p>
    <p class="options"><h3 class="text-left">Options:</h3>
    <ul class="text-left">
      <li><b>Endpoint: </b><a href="/api/whoami/" target="_blank">/api/whoami/</a></li>
      <li><b>Parameters: </b>None</li>
    </ul>
    </p>
  </div>

</div>
</body>
</html>
